@model Skywide.Models.CategoryPageViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="slug" content="@Model.Category.Slug" />
	<title>@Model.Category.Name</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link rel="stylesheet" href="~/css/categories_pages.css" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="~/js/infinite-scroll-cat.js" defer></script>
</head>
<body>
	<div class="whole-page">
		<div class="toolbar">
			<div class="toolbar-left">
				<a class="create-post" href="@Url.Action("CreateNewPost", "CreateNewPost", new { category = Model.Category.Name })">New post in this category<i style="margin-left:5px;" class="fa-solid fa-plus"></i></a>
			</div>
			<div class="toolbar-mid">
				<a class="skywide" href="~/Index/Index">Skywide.com</a>
			</div>
			<div class="toolbar-right">
				<a class="user-profile" href="~/Account/Account">@Model.Username</a>
				<form class="logout" method="post" asp-controller="Account" asp-action="Logout">
					<button type="submit" class="logout-button" title="Logout">
						<i class="fa-solid fa-arrow-right-from-bracket"></i>
					</button>
				</form>
			</div>
		</div>
		<div class="page-main">
			<div class="filler"></div>
			<div class="wall">
				<div class="posts-wall">
					<div class="subscribe">
						<partial name="_Subs" model="new Skywide.Views.Shared.SubsViewModel(Model.Category.CategoryID, Model.IsSubscribed)" />
					</div>
					<partial name="_PostsPartial" model="Model.Posts"/>
				</div>
				<div class="category-info">
					<h2>@Model.Category.Name</h2>
					<p class="category-description">@Model.Category.Description</p>
				</div>
			</div>
			<div class="filler"></div>
		</div>
	</div>
</body>
</html>