@model Skywide.Models.CreateNewPostViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>New Post</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link rel="stylesheet" href="~/css/create_new.css" />
	<script src="~/js/autocomplete.js" defer></script>
</head>
<body>
	<div class="whole-page">
		<div class="page-title">
			<h1>Skywide.com</h1>
		</div>
		<div class="page-main">
			<div class="editor">
				<form method="post" asp-action="Share">
					<div class="editor-divs" style="height:100px">
						<label for="CategoryName">Pick category :</label>
						<div class
						<input id="CategoryName" type="text" name="CategoryName" class="editor-field" style="width:100%" placeholder="Enter new or choose category" value="@Model.CategoryName" />
						<ul id="suggestions" class="suggestions-list"></ul>
						@Html.ValidationMessage("CategoryError", "", new {@class = "error-message"})
					</div>
					<div class="editor-divs" style=" height:100px">
						<label class="labels" for="Title">Title :</label>
						<input type="text" id="Title" name="Title" class="editor-field" style="width:100%;font-weight:bold;" value="@Model.Title" />
						@Html.ValidationMessage("TitleError", "", new { @class = "error-message" })
					</div>
					<div class="editor-divs editor-main-text" style="height:480px">
						<label class="labels" for="Content">Content :</label>
						<textarea name="Content" id="Content" class="editor-field">@Model.Content</textarea>
						@Html.ValidationMessage("ContentError", "", new { @class = "error-message" })
					</div>
					<div>
						<button type="submit">Add new post</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
